/* Contatos.module.css */

.contatos {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.icones {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.icone {
    font-size: 3rem;
    color: var(--secondary);
}

.titulo {
    color: var(--secondary);
    font-weight: bold;
    font-size: 40px;
}

.subtitulo {
    font-size: 25px;
    color: var(--clear-black)
}

.paragrafo {
    font-size: 25px;
    color: var(--clear-black);
    font-weight: bold;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

@media (max-width: 760px) {
    .contatos {
        padding: 20px;
        /* Adiciona espaçamento interno em telas menores */
    }
}