/* Sobre.module.css */

.sobre {
    width: 100%;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    /* Aumenta o espaçamento interno para espaçar os elementos */
}

.avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 20px;
    /* Adiciona espaçamento abaixo do avatar */
}

.bio {
    display: flex;
    flex-direction: column;
    /* Ajusta a direção da bio para coluna em telas pequenas */
    align-items: center;
    gap: 1rem;
    /* Ajusta o espaçamento entre os elementos em telas pequenas */
    text-align: center;
    /* Centraliza o texto */
    margin-bottom: 20px;
    /* Adiciona espaçamento abaixo da bio */
}

.bio span {
    color: var(--primary);
    font-weight: bold;
}

.bio strong {
    color: var(--secondary);
    font-weight: bold;
}

.textos h2,
.textos p {
    margin-bottom: 1rem;
}

.techs {
    width: 100%;
    /* Ajusta a largura das techs para ocupar toda a largura em telas pequenas */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.icones {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    /* Adiciona espaçamento acima dos ícones */
}

.icones img {
    height: 40px;
    /* Define um tamanho menor para os ícones */
}

/* Responsividade */

@media (max-width: 768px) {
    .avatar {
        width: 150px;
        /* Ajusta o tamanho do avatar para telas médias */
        height: 150px;
        /* Ajusta o tamanho do avatar para telas médias */
    }

    .icones img {
        height: 30px;
        /* Define um tamanho menor para os ícones em telas pequenas */
    }
}